extends ./master.jade
block main
	script(type="application/javascript", src="/socket.io/socket.io.js")
	script(type="application/javascript").
		var socket = io();
	.m1
		.information
			.div_avata
				img(id="avata" class="avata" src="images/")
			.div_information
				.divinformation
					input(readonly="" class="mgt" type="text")
				.divinformation
					input(placeholder="Status ..." class="mgt" type="text")
				.divinformation
					input(readonly="" class="mgt" type="text")
		.friend
	.m2
		.l1
		.l2
	.m3
		.lchat
		.bchat
		.tchat
			div
				textarea(class="ttchat")