extends ./master.jade
block main
	.m1.l1
		.l2
			form(id="form1",method="post")
				br
				br
				br
				p(class="dnchat_a1") Email:
				br
				input(class="dnchat_inputt dnchat_a1",type="text",name="email")
				br
				br
				p(class="dnchat_a1") Password:
				br
				input(class="dnchat_inputt dnchat_a1",type="Password",name="pass")
				br
				br
				p(class="dnchat_a1") Re-enter Password:
				br
				input(class="dnchat_inputt dnchat_a1",type="Password",name="rpass")
				br
				br
				p(class="dnchat_a1") Name:
				bf
				input(class="dnchat_inputt dnchat_a1",type="text",name="name")
				br
				br
				br
				input(class="dnchat_bt dnchat_a1",type="submit",value="Signup")
				br
				br
				br
			form(id="form1",action="/login")
				input(class="dnchat_bt dnchat_a1",type="submit",value="Login")
